.form_group {
  position: relative;
  width: 100%;
  margin-bottom: 16px;
}

.form_group.noMarginBottom {
  margin-bottom: 0;
}

.form_group:last-child {
  margin-bottom: 0;
}

.form_group:after {
  display: block;
  clear: both;
  opacity: 0;
  content: "";
  height: 0;
  visibility: hidden;
}

.form_group--full {
  width: 100%;
}

.form_group--half {
  display: inline-block;
  float: left;
  width: 50%;
}

.form_group > .form_group--half:first-child {
  width: 60%;
  margin-right: 15px;
}

.form_group > .form_group--half:last-child {
  width: 32%;
  float: right;
}

.form_group > .form_group--half [class*="icon-"] {
  position: absolute;
  top: 30px;
  right: 8px;
}

.form_group .form_control {
  width: 100%;
  border: 1px solid #B4B4B4;
  background: #FFF;
  border-radius: 4px;
  padding: 7px;
  font-family: inherit;
  color: #434343;
  font-weight: 500;
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-transition: border .2s ease;
  transition: border .2s ease;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.form_group.small .form_control {
  font-size: 14px;
  line-height: 16px;
}

.form_group.medium .form_control {
  font-size: 16px;
  line-height: 24px;
}

.form_group.large .form_control {
  font-size: 18px;
  line-height: 32px;
}

.form_group.small.withIcon.formal .form_control {
  padding-left: 40px;
}
.form_group.small.rightIcon.formal .form_control {
  padding-right: 40px;
}

.form_group.small.withIcon.simple,
.form_group.small.withIcon.view {
  padding-left: 32px;
}
.form_group.small.rightIcon.simple,
.form_group.small.rightIcon.view {
  padding-right: 32px;
}

.form_group.medium.withIcon.formal .form_control {
  padding-left: 48px;
}
.form_group.medium.rightIcon.formal .form_control {
  padding-right: 48px;
}

.form_group.medium.withIcon.simple,
.form_group.medium.withIcon.view {
  padding-left: 40px;
}
.form_group.medium.rightIcon.simple,
.form_group.medium.rightIcon.view {
  padding-right: 40px;
}

.form_group.large.withIcon.formal .form_control {
  padding-left: 56px;
}
.form_group.large.rightIcon.formal .form_control {
  padding-right: 56px;
}

.form_group.large.withIcon.simple,
.form_group.large.withIcon.view {
  padding-left: 48px;
}
.form_group.large.rightIcon.simple,
.form_group.large.rightIcon.view {
  padding-right: 48px;
}

.form_group.simple .form_control {
  border-radius: 0;
  border-width: 0 0 1px 0;
  padding-left: 0;
  padding-top: 8px;
  background: transparent;
}

.form_group.simple .form_control:focus {
  border-bottom-color: #0770cd;
}

.form_group.simple label {
  font-size: 16px;
  font-weight: normal;
  -webkit-transform: translateY(32px);
          transform: translateY(32px);
  color: #8f8f8f;
  pointer-events: none;
  -webkit-transition: all .1s ease-out;
  transition: all .1s ease-out;
}

.form_group.simple.floating label {
  color: #434343;
  font-size: 14px;
  font-weight: bold;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.form_group.view .form_control {
  border-width: 0;
  padding: 8px 8px 8px 0;
  background: transparent;
  pointer-events: none;
}

.form_group.view label {
  color: #696969;
}

.form_group .form_hints,
.form_group .form_error {
  margin-top: 4px;
  font-size: 12px;
  line-height: 16px;
  display: block;
}

.form_group .form_hints,
.form_group.error .form_error + .form_hints {
  color: #696969;
}

.form_group .form_error {
  color: #F34646;
}

.form_group.error .form_hints {
  color: #F34646;
}

.form_group label {
  display: block;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  height: 24px;
  margin: 0;
  display: block;
  color: #434343;
  letter-spacing: 0.3px;
}

.form_group.nowrapLabel label {
  height: auto;
}

.form_group.disabled .form_control {
  border-color: #dadada;
  color: #b4b4b4;
  cursor: not-allowed;
}

.form_group.disabled.formal .icon {
  border-color: #dadada;
}

.form_group.formal.disabled .form_control {
  background-color: #f6f6f6;
}

.form_group.disabled label,
.form_group.simple.floating.disabled label  {
  color: #b4b4b4;
}

.form_control:focus,
.form_control:hover:focus {
  outline: 0;
  border-color: #0770cd;
}

.formal .form_control:focus {
  -webkit-box-shadow: 0px 0px 0px 1px #0770cd;
          box-shadow: 0px 0px 0px 1px #0770cd;
}

.form_group.error .form_control {
  border-color: #F34646;
}

.form_group > .ic_cross {
  position: absolute;
  opacity: 0;
  right: 7px;
  top: 30px;
  visibility: hidden;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.form_group.error > .ic_cross {
  opacity: 1;
  visibility: visible;
}

.form_group .icon,
.form_group .iconRight {
  position: absolute;
  display: table-cell;
  top: 24px;
  bottom: 1px;
  text-align: left;
}

.form_group .icon {
  left: 0;
}
.form_group .iconRight {
  right: 0;
}

.form_group.formal .icon,
.form_group.formal .iconRight {
  top: 25px;
  text-align: center;
}

.form_group.formal .icon {
  border-right: 1px solid #b4b4b4;
}
.form_group.formal .iconRight {
  border-left: 1px solid #b4b4b4;
}

.form_group .icon svg {
  vertical-align: middle;
  margin-left: 1px;
}
.form_group .iconRight svg,
.form_group .iconRight img {
  vertical-align: middle;
  margin-right: 1px;
}

.form_group.disabled .icon svg,
.form_group.disabled .iconRight svg {
  fill: #b4b4b4 !important;
}

.form_group.large .icon,
.form_group.large .iconRight {
  line-height: 45px;
  width: 48px;
}

.form_group.medium .icon,
.form_group.medium .iconRight {
  line-height: 37px;
  width: 40px;
}

.form_group.small .icon,
.form_group.small .iconRight {
  line-height: 29px;
  width: 32px;
}

.form_group .chevron {
  position: absolute;
  right: 16px;
  pointer-events: none;
}

.form_group.small .chevron {
  top: 34px;
}

.form_group.medium .chevron {
  top: 38px;
}

.form_group.large .chevron {
  top: 42px;
}

.form_group.simple .chevron {
  right: 0;
}

.form_group.view .chevron {
  display: none;
}

@media screen and (min-width: 769px) {
  .form_control:hover {
    border-color: #8f8f8f;
  }
}

.rightLabel {
    font-weight: 300;
    position: absolute;
    right: 0;
    top: 0;
}



// WEBPACK FOOTER //
// ../web-ui/mobile/shared/InputField/InputField.css