 YOUR CUSTOM STYLES */
html,
body,
header,
.view {
    height: 100%;
}
/* Navigation*/

.navbar {
    /*background-color: transparent;*/
    background-color: #0095e5;
}

.top-nav-collapse {
    /*background-color: #4285F4;*/
    background-color: #0095e5;
}
@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #4285F4;
    }
}
/*Intro*/
.view {
    /*background: url("../../../../uploads/img.jpg")no-repeat center center fixed;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-top:60px;
}
.carousel,.item,.active{height:100%;}
.carousel-inner{height:100%;}

/* Custom CSS*/
.border-book {
    border: 1px solid #eee;
    padding: 10px;
    text-align: center;
    background-color: #F6F6F6;
}

/* typeahead */
span.twitter-typeahead .tt-menu,
span.twitter-typeahead .tt-dropdown-menu {
  cursor: pointer;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  text-align: left;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}
span.twitter-typeahead .tt-suggestion {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333333;
  white-space: nowrap;
}
span.twitter-typeahead .tt-suggestion.tt-cursor,
span.twitter-typeahead .tt-suggestion:hover,
span.twitter-typeahead .tt-suggestion:focus {
  color: #ffffff;
  text-decoration: none;
  outline: 0;
  background-color: #337ab7;
}
.input-group.input-group-lg span.twitter-typeahead .form-control {
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}
.input-group.input-group-sm span.twitter-typeahead .form-control {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
span.twitter-typeahead {
  width: 100%;
}
.input-group span.twitter-typeahead {
  display: block !important;
  height: 34px;
}
.input-group span.twitter-typeahead .tt-menu,
.input-group span.twitter-typeahead .tt-dropdown-menu {
  top: 32px !important;
}
.input-group span.twitter-typeahead:not(:first-child):not(:last-child) .form-control {
  border-radius: 0;
}
.input-group span.twitter-typeahead:first-child .form-control {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.input-group span.twitter-typeahead:last-child .form-control {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.input-group.input-group-sm span.twitter-typeahead {
  height: 30px;
}
.input-group.input-group-sm span.twitter-typeahead .tt-menu,
.input-group.input-group-sm span.twitter-typeahead .tt-dropdown-menu {
  top: 30px !important;
}
.input-group.input-group-lg span.twitter-typeahead {
  height: 46px;
}
.input-group.input-group-lg span.twitter-typeahead .tt-menu,
.input-group.input-group-lg span.twitter-typeahead .tt-dropdown-menu {
  top: 46px !important;
}


/* ==== */
.kategori {
    position: relative;
    /*width: 50%;*/
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.kategori:hover .image {
  opacity: 0.4;
}

.kategori:hover .middle {
  opacity: 1;
}

.text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
  text-align: center;
}
/*.column {
  margin: 15px 15px 0;
  padding: 0;
}
.column:last-child {
  padding-bottom: 60px;
}
.column::after {
  content: '';
  clear: both;
  display: block;
}
.column div {
  position: relative;
  float: left;
  width: 300px;
  height: 200px;
  margin: 0 0 0 25px;
  padding: 0;
}
.column div:first-child {
  margin-left: 0;
}
.column div span {
  position: absolute;
  bottom: -20px;
  left: 0;
  z-index: -1;
  display: block;
  width: 300px;
  margin: 0;
  padding: 0;
  color: #444;
  font-size: 18px;
  text-decoration: none;
  text-align: center;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  opacity: 0;
}
figure {
  width: 300px;
  height: 200px;
  margin: 0;
  padding: 0;
  background: #fff;
  overflow: hidden;
}
figure:hover+span {
  bottom: -36px;
  opacity: 1;
}
*/

/* Blur */
.hover07 figure img {
  -webkit-filter: blur(3px);
  filter: blur(3px);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
.hover07 figure:hover img {
  -webkit-filter: blur(0);
  filter: blur(0);
}

.hover02 figure img {
  width: 300px;
  height: auto;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
.hover02 figure:hover img {
  width: 350px;
}

/*=================*/
.lib-panel {
    margin-bottom: 20Px;
    margin-right: 20px;
}
.lib-panel img {
    width: 100%;
    background-color: transparent;
}

.lib-panel .row,
.lib-panel .col-md-6 {
    padding: 0;
    background-color: #FFFFFF;
}


.lib-panel .lib-row {
    padding: 0 20px 0 20px;
}

.lib-panel .lib-row.lib-header {
    background-color: #FFFFFF;
    font-size: 20px;
    padding: 10px 20px 0 20px;
}

.lib-panel .lib-row.lib-header .lib-header-seperator {
    height: 2px;
    width: 26px;
    background-color: #d9d9d9;
    margin: 7px 0 7px 0;
}

.lib-panel .lib-row.lib-desc {
    position: relative;
    height: 100%;
    display: block;
    font-size: 13px;
}
.lib-panel .lib-row.lib-desc a{
    position: absolute;
    width: 100%;
    bottom: 10px;
    left: 20px;
}

.row-margin-bottom {
    margin-bottom: 20px;
}

.box-shadow {
    -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.10);
    box-shadow: 0 0 10px 0 rgba(0,0,0,.10);
}

.no-padding {
    padding: 0;
}

/*.nav-tabs { border-bottom: 2px solid #DDD; }
    .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover { border-width: 0; }
    .nav-tabs > li > a { border: none; color: #666; }
        .nav-tabs > li.active > a, .nav-tabs > li > a:hover { border: none; color: #4285F4 !important; background: transparent; }
        .nav-tabs > li > a::after { content: ""; background: #4285F4; height: 2px; position: absolute; width: 100%; left: 0px; bottom: -1px; transition: all 250ms ease 0s; transform: scale(0); }
    .nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after { transform: scale(1); }
.tab-nav > li > a::after { background: #21527d none repeat scroll 0% 0%; color: #fff; }
.tab-pane { padding: 15px 0; }
.tab-content{padding:20px}

.card {background: #FFF none repeat scroll 0% 0%; box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3); margin-bottom: 30px; }*/



.promo img {
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
    -webkit-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
    margin-bottom:20px;
}

.promo img:hover {
  filter: none; /* IE6-9 */
  -webkit-filter: grayscale(0); /* Google Chrome, Safari 6+ & Opera 15+ */
 
}

#footer {
  width: 100%;
  background-image:url("../img/footer.jpg");
  min-height: 300px;
}
.fa-star {
  color: #ffe500;
  border: 1px thin #eee;
}

.leftside .card {
  font-size: 14px;
}

.fasilitas {
  bottom: 0px;
  left: 0px;
  position:absolute;
  width: 100%;
}
/*.fasilitas img {
  width: 30px;
  height: 30px;
}*/
.fasilitas .harga {
  float: right;
  width: 200px;
}

h3 {
  border-bottom: 2px solid #0081E8;
  display: inline-block;
}

.circle {
  border-radius: 50%;
  width: 50px;
  height: 50px; 
  /* width and height can be anything, as long as they're equal */
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: #b8ffa0;
  padding: 14px 7px;
  text-align: center;
}
.harga {
  /*padding: 5px;*/
  /*width: 100%;*/
  display: inline-block;
}

/* Icon fasilitas css */
.icon-wifi {
  width: 25px;
  height: 25px;
  background-image: url("../img/icon/wifi.png");
  background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center center; 
  display: inline-block;
}
.icon-bathrobe {
  width: 30px;
  height: 30px;
  background-image: url("../img/icon/bathrobe.png");
  background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center center; 
  display: inline-block;
}
.icon-bathtub {
  width: 30px;
  height: 30px;
  background-image: url("../img/icon/bathtub-1.png");
  background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center center; 
  display: inline-block;
}
.icon-bed {
  width: 30px;
  height: 30px;
  background-image: url("../img/icon/bed.png");
  background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center center; 
  display: inline-block;
}
.icon-beds {
  width: 30px;
  height: 30px;
  background-image: url("../img/icon/beds.png");
  background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center center; 
  display: inline-block;
}
.icon-hairdryer {
  width: 30px;
  height: 30px;
  background-image: url("../img/icon/hairdryer.png");
  background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center center; 
  display: inline-block;
}
.icon-information {
  width: 30px;
  height: 30px;
  background-image: url("../img/icon/information.png");
  background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center center; 
  display: inline-block;
}
.icon-location {
  width: 30px;
  height: 30px;
  background-image: url("../img/icon/location.png");
  background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center center; 
  display: inline-block;
}
.icon-meal {
  width: 30px;
  height: 30px;
  background-image: url("../img/icon/meal.png");
  background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center center; 
  display: inline-block;
}
.icon-menu {
  width: 30px;
  height: 30px;
  background-image: url("../img/icon/menu-2.png");
  background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center center; 
  display: inline-block;
}
.icon-minisplit {
  width: 30px;
  height: 30px;
  background-image: url("../img/icon/minisplit.png");
  background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center center; 
  display: inline-block;
}
.icon-parking {
  width: 30px;
  height: 30px;
  background-image: url("../img/icon/parking-1.png");
  background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center center; 
  display: inline-block;
}
.icon-restaurant {
  width: 30px;
  height: 30px;
  background-image: url("../img/icon/restaurant.png");
  background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center center; 
  display: inline-block;
}
.icon-shower {
  width: 30px;
  height: 30px;
  background-image: url("../img/icon/shower.png");
  background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center center; 
  display: inline-block;
}
.icon-sleeping-bed-silhouette {
  width: 30px;
  height: 30px;
  background-image: url("../img/icon/sleeping-bed-silhouette.png");
  background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center center; 
  display: inline-block;
}
.icon-slippers {
  width: 30px;
  height: 30px;
  background-image: url("../img/icon/slippers.png");
  background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center center; 
  display: inline-block;
}
.icon-television {
  width: 30px;
  height: 30px;
  background-image: url("../img/icon/television.png");
  background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center center; 
  display: inline-block;
}
.icon-towel {
  width: 30px;
  height: 30px;
  background-image: url("../img/icon/towel.png");
  background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center center; 
  display: inline-block;
}



/* foto produk lain */
.slide-img {
  height: 400px;
  overflow: hidden;
  margin-bottom: 10px;
}
.slide-img img {
  width: 100%;
}
.thumb-img {
  width: 100%;
  overflow-x:auto;
  margin: 5px;
  text-align: center;
}
.thumb-img ul{
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.thumb-img li {
  display: inline-block;
  margin-bottom: 5px;
}
.thumb-img li img {
  width: 80px;
}

/**/
.produk-fasilitas {
  font-size: 12px;
  text-align: center;
}
.produk-fasilitas .icons {
  margin:10px;
}

/**/
.other-room {
  cursor: pointer;
  margin-bottom: 5px;
}
.other-room .row:hover {
  box-shadow: 3px 1px 1px #e6e6e6;
}